*{
    text-align: center;
    background:rgb(3, 61, 76);
    
}
img{
    width:200;
    height:200;
    background:white;
}
h1{
    color:white;
}
li{
    color:red;
}
h2
{
    color:orange;
}
